{{ define "ory.kratos" -}}
## Ory Kratos

This chart deploys Ory Kratos that via a dependency to this chart. Configuration to the Ory Kratos chart is passed via the `kratos:` key in the values.yaml file.
Consult the [documentation](https://artifacthub.io/packages/helm/ory/kratos) of the Ory Kratos chart for more information on how to configure this service.
{{- end }}
