{{ define "ory.kratos" -}}
## ORY Kratos

This chart deploys [ORY Kratos](https://www.ory.sh/kratos/) via a dependency to this chart. Configuration to the ORY Kratos chart is passed via the `Kratos:` key in the values.yaml file.
Consult the [documentation](https://artifacthub.io/packages/helm/ory/kratos) of the Ory Kratos chart for additional information on how to configure this service if needed.
{{- end }}
