{{- define "radar.jdbc-connector" -}}
## CloudNativePG TimescaleDB

This chart deploys the CloudNativePG TimescaleDB via the _timescaledb_ chart. In turn,
_timescaledb_ uses the CloudNativePG operator chart to deploy the TimescaleDB database.
Configuration to the _timescaledb_ chart can be passed via the `timescaledb:` key in
the values.yaml file.

Deployment of CloudNativePG TimescaleDB can be disabled by setting `enabled: false` in the `timescaledb:` key.
{{- end }}
