serverName: localhost

nifikop:
  # -- Deploy the nifikop operator.
  enabled: true

auth:
  # -- OpenID Connect configuration (not functional at the moment, included for reference).
  oidc:
    enabled: false
    wellKnownConfigUrl: http://idp/.well-known/openid-configuration
    #    redirectUrl: '{{ printf "%s://nifi.%s/*" .Values.advertised_protocol .Values.serverName }}'
    scopes: openid,profile,email
    clientIdSecret:
      name: nifi-oauth-client-secret
      key: clientId
    clientSecretSecret:
      name: nifi-oauth-client-secret
      key: clientSecret
  # -- Single user authentication configuration
  singleUser:
    username: admin
    # -- Password for the single admin user.
    # Make sure it's at least 12 characters long.'
    password: changemechangeme

# -- Nifi Cluster configuration
# @default -- check `values.yaml`
nifi-secret-properties:
nifi-properties:
  nifi.web.proxy.context.path: /
  nifi.web.proxy.scheme: https
  nifi.web.http.network.interface.default: eth0
  nifi.web.http.network.interface.lo: lo
  nifi.nar.library.autoload.directory: ../extensions

nifi-cluster:
  cluster:
    nodeUserIdentityTemplate: node-%d-nifikop
    image:
      tag: "2.5.0"
    manager: kubernetes
    # Defaults to the fullname.
    # managerServiceAccount:
    #  name: radar-nifi-nifi-cluster
    bootstrapProperties:
      overrideConfigs: |
        java.arg.4=-Djava.net.preferIPv4Stack=true
        java.arg.log4shell=-Dlog4j2.formatMsgNoLookups=true
        # Java 8 Tuning see https://community.hortonworks.com/articles/7882/hdfnifi-best-practices-for-setting-up-a-high-perfo.html for references
        java.arg.7=-XX:ReservedCodeCacheSize=256m
        java.arg.8=-XX:+UseCodeCacheFlushing
      nifiJvmMemory: 2g
    nifiProperties:
      overrideConfigMap:
        name: radar-nifi-properties
        data: nifi.properties
      overrideSecretConfig:
        name: radar-nifi-secret-properties
        data: nifi-secret.properties
      # -- Must follow the full public address of the Nifi cluster, including port and context path.
      webProxyHosts:
        - nifi.localhost:8443
    singleUserConfiguration:
      enabled: true
      authorizerEnabled: true
      secretRef:
        name: nifi-single-user-credentials
        namespace: default
    listenersConfig:
      internalListeners:
        - type: https
          name: https
          containerPort: 8443
        - type: cluster
          name: cluster
          containerPort: 6007
        - type: s2s
          name: s2s
          containerPort: 10000
      sslSecrets:
        tlsSecretName: radar-nifi-tls
        create: true
    nifiClusterTaskSpec:
      retryDurationMinutes: 10
    nodeConfigGroups:
      default_group:
        fsGroup: 1337
        isNode: true
        resourcesRequirements:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 1
            memory: 1Gi
        # Must reference managerServiceAccount (defaults to fullname)
        serviceAccountName: radar-nifi-nifi-cluster
        storageConfigs:
          - mountPath: /opt/nifi/flowfile_repository
            name: flowfile-repository
            pvcSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
          - mountPath: /opt/nifi/nifi-current/conf
            name: conf
            pvcSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 5Gi
          - mountPath: /opt/nifi/content_repository
            name: content-repository-default
            pvcSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
          - mountPath: /opt/nifi/provenance_repository
            name: provenance-repository-default
            pvcSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
          - mountPath: /opt/nifi/nifi-current/database_repository
            name: database-repository-default
            pvcSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 5Gi
    nodes:
      - id: 0
        labels:
          nifi_node_group: default_group
        nodeConfigGroup: default_group
    propagateLabels: false
    service:
      headlessEnabled: true
    maximumTimerDrivenThreadCount: 40

  ingress:
    enabled: false

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/session-cookie-hash: "sha1"
    cert-manager.io/cluster-issuer: self-signed-issuer
  hostname: 'nifi.{{ $.Values.serverName }}'
  ingressClassName: nginx
  path: /
  pathType: ImplementationSpecific
  backend: '{{ include "common.names.fullname" . }}-nifi-cluster-headless'
  tls: true
  existingSecret: radar-nifi-tls
