serverName: localhost

auth:
  # -- OpenID Connect configuration (not functional at the moment, included for reference).
  oidc:
    enabled: false
    wellKnownConfigUrl: http://idp/.well-known/openid-configuration
    #    redirectUrl: '{{ printf "%s://nifi.%s/*" .Values.advertised_protocol .Values.serverName }}'
    scopes: openid,profile,email
    clientIdSecret:
      name: radar-keycloak-broker-nifi
      key: clientId
    clientSecretSecret:
      name: radar-keycloak-broker-nifi
      key: clientSecret
  # -- Single user authentication configuration
  singleUser:
    username: admin
    # -- Password for the single admin user.
    # Make sure it's at least 12 characters long.'
    password: secret

# -- Nifi Cluster configuration
# @default -- check `values.yaml`
nifi-cluster:
  cluster:
    nodeUserIdentityTemplate: node-%d-nifikop
    image:
      tag: "2.5.0"
    manager: kubernetes
    nifiProperties:
      overrideConfigMap:
        name: radar-nifi-properties
        data: nifi.properties
      webProxyHosts:
        - localhost:8443
    singleUserConfiguration:
      enabled: true
      authorizerEnabled: true
      secretRef:
        name: nifi-single-user-credentials
        namespace: default
    listenersConfig:
      internalListeners:
        - type: "https"
          name: "https"
          containerPort: 8443
        - type: "cluster"
          name: "cluster"
          containerPort: 6007
        - type: "s2s"
          name: "s2s"
          containerPort: 10000
      sslSecrets:
        tlsSecretName: nifikop-tls
        create: true

    externalServices:
      - name: nifikop
        spec:
          portConfigs:
            - internalListenerName: https
              port: 8443
            - internalListenerName: s2s
              port: 10000
          type: LoadBalancer

  serviceAccount:
    # -- This must be present and empty.
    name:

  ingress:
    # The built-in ingress is not enabled by default; we deploy a custom ingress.
    enabled: false

ingress:
  enabled: true
  annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/session-cookie-name: "route"
      nginx.ingress.kubernetes.io/session-cookie-hash: "sha1"
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/cors-allow-headers: DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Request-Token
  hostname: 'nifi.{{ .Values.serverName }}'
  ingressClassName: nginx
  path: /
  pathType: ImplementationSpecific
  backend: '{{ include "common.names.fullname" . }}-nifi-cluster-headless'
  tls: false
