{{- if .Values.httpIssuer.enabled }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  labels:
{{ include "cert-manager-letsencrypt.labels" . | indent 4 }}
  name: {{ include "cert-manager-letsencrypt.fullname" . }}
  namespace: cert-manager
spec:
  acme:
    # The ACME server URL
    server: {{ if eq .Values.httpIssuer.environment "production" -}}
      https://acme-v02.api.letsencrypt.org/directory
    {{- else -}}
      https://acme-staging-v02.api.letsencrypt.org/directory
    {{- end }}
    # Email address used for ACME registration
    email: {{ .Values.maintainerEmail }}
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: {{ .Values.httpIssuer.privateSecretRef }}
    # Enable the HTTP-01 challenge provider
    solvers:
      - http01:
         ingress:
           {{ .Values.httpIssuer.ingressMatchMethod }}: {{ .Values.httpIssuer.ingressMatchValue }}
{{- end -}}
