# Default values for radar-push-endpoint.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Number of radar-push-endpoint replicas to deploy
replicaCount: 2

image:
  # -- radar-push-endpoint image repository
  repository: radarbase/radar-push-endpoint
  # -- radar-push-endpoint image tag (immutable tags are recommended)
  # Overrides the image tag whose default is the chart appVersion.
  tag: 0.2.2
  # -- radar-push-endpoint image pull policy
  pullPolicy: IfNotPresent

# -- Docker registry secret names as an array
imagePullSecrets: []

# -- String to partially override radar-push-endpoint.fullname template with a string (will prepend the release name)
nameOverride: ""
# -- String to fully override radar-push-endpoint.fullname template with a string
fullnameOverride: ""

# -- Configure radar-push-endpoint pods' Security Context
podSecurityContext: {}
  # fsGroup: 2000

# -- Configure radar-push-endpoint containers' Security Context
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  # -- Kubernetes Service type
  type: ClusterIP
  # -- radar-push-endpoint port
  port: 8090

ingress:
  # -- Enable ingress controller resource
  enabled: true
  # -- Annotations that define default ingress class, certificate issuer and deny access to sensitive URLs
  # @default -- check values.yaml
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/rewrite-target: /push/integrations/$1
    nginx.ingress.kubernetes.io/server-snippet: |
      location /push-endpoint/garmin {
        # set client body size to 20M #
        client_max_body_size 20M;

        # restrict access to only certain IPs provided by Garmin Health API
        allow 204.77.162.0/23;
        allow 98.199.124.0/23;
        allow 185.132.79.0/24;
        allow 208.65.206.0/23;
        allow 185.207.94.0/23;
        allow 198.233.176.0/24;
        deny all;
      }
  # -- Path within the url structure
  path: "/push-endpoint/?(.*)"
  # -- IngressClass that will be be used to implement the Ingress (Kubernetes 1.18+)
  ingressClassName: nginx
  # -- Hosts to accept requests from
  hosts:
    - localhost
  tls:
    # -- Name of the secret that contains TLS certificates
    secretName: radar-base-tls-radar-push-endpoint

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # -- CPU/Memory resource limits
  # limits:
  #   cpu: 2
  #   memory: 1.7Gi

  # -- CPU/Memory resource requests
  requests:
    cpu: 100m
    memory: 128Mi

# -- Node labels for pod assignment
nodeSelector: {}

# -- Toleration labels for pod assignment
tolerations: []

# -- Affinity labels for pod assignment
affinity: {}

# -- Extra environment variables
extraEnvVars: []
#  - name: BEARER_AUTH
#    value: true

# -- Custom livenessProbe that overrides the default one
customLivenessProbe: {}

livenessProbe:
  # -- Enable livenessProbe
  enabled: true
  # -- Initial delay seconds for livenessProbe
  initialDelaySeconds: 20
  # -- Period seconds for livenessProbe
  periodSeconds: 90
  # -- Timeout seconds for livenessProbe
  timeoutSeconds: 5
  # -- Success threshold for livenessProbe
  successThreshold: 1
  # -- Failure threshold for livenessProbe
  failureThreshold: 3

# -- Custom readinessProbe that overrides the default one
customReadinessProbe: {}

readinessProbe:
  # -- Enable readinessProbe
  enabled: true
  # -- Initial delay seconds for readinessProbe
  initialDelaySeconds: 20
  # -- Period seconds for readinessProbe
  periodSeconds: 90
  # -- Timeout seconds for readinessProbe
  timeoutSeconds: 5
  # -- Success threshold for readinessProbe
  successThreshold: 1
  # -- Failure threshold for readinessProbe
  failureThreshold: 3

serviceMonitor:
  # -- Enable metrics to be collected via Prometheus-operator
  enabled: true

# -- Network policy defines who can access this application and who this applications has access to
# @default -- check `values.yaml`
networkpolicy:
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: '{{ .Release.Namespace }}'
      podSelector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
        except:
        - 10.0.0.0/8
        - 192.168.0.0/16
        - 172.16.0.0/20
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: '{{ .Release.Namespace }}'
      podSelector:
        matchLabels:
          app.kubernetes.io/name: 'cp-schema-registry'
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: '{{ .Release.Namespace }}'
      podSelector:
        matchLabels:
          app.kubernetes.io/name: 'cp-kafka'
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: '{{ .Release.Namespace }}'
      podSelector:
        matchLabels:
          app.kubernetes.io/name: 'redis'
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: '{{ .Release.Namespace }}'
      podSelector:
        matchLabels:
          app.kubernetes.io/name: 'radar-rest-sources-backend'
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: '{{ .Release.Namespace }}'
      podSelector:
        matchLabels:
          app.kubernetes.io/name: 'management-portal'
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
      podSelector:
        matchLabels:
          k8s-app: kube-dns
    ports:
      - port: 53
        protocol: UDP
      - port: 53
        protocol: TCP

# -- Schema Registry URL
schemaRegistry: http://cp-schema-registry:8081
# -- Not used. To be confirmed
max_requests: 1000
# -- Kafka broker URLs
bootstrapServers: cp-kafka-headless:9092
# -- set to true, if sources in access token should be validated
checkSourceId: true
# -- Additional Kafka Admin Client settings as key value pairs. Read from https://kafka.apache.org/documentation/#adminclientconfigs.
adminProperties: {}
# -- Kafka producer properties as key value pairs. Read from https://kafka.apache.org/documentation/#producerconfigs.
producerProperties:
  compression.type: lz4
# -- Additional Kafka serialization settings, used in KafkaAvroSerializer. Read from [io.confluent.kafka.serializers.AbstractKafkaSchemaSerDeConfig].
serializationProperties: {}

cc:
  # -- set to true, if requests should be forwarded to Confluent Cloud based brokers.
  enabled: false
  # -- Confluent Cloud cluster API key
  apiKey: ccApikey
  # -- Confluent Cloud cluster API secret
  apiSecret: ccApiSecret
  # -- Confluent Cloud schema registry API key
  schemaRegistryApiKey: srApiKey
  # -- Confluent Cloud schema registry API secret
  schemaRegistryApiSecret: srApiSecret


garmin:
  # -- Whether to enable Garmin endpoints
  enabled: true
  # -- Consumer key for you application in Garmin Health API developer portal
  consumerKey: "consumerKey"
  # -- Consumer secret for you application in Garmin Health API developer portal
  consumerSecret: "consumerSecret"
  # -- The user repository to use for getting list of users and their authorization information
  userRepositoryClass: "org.radarbase.push.integration.garmin.user.GarminServiceUserRepository"
  # -- The base url of the user repository if the repository is http(s) based.
  userRepositoryUrl: "http://radar-rest-sources-backend:8080/rest-sources/backend"
  # -- The client ID to access the user repository if the repository requires authorization
  userRepositoryClientId: "radar_push_endpoint"
  # -- The client secret to access the user repository if the repository requires authorization
  userRepositoryClientSecret: "secret"
  ## -- The token URL for authentication (Usually the management portal token url)
  userRepositoryTokenUrl: "http://management-portal:8080/managementportal/oauth/token/"

redis:
  # -- The redis server URL. Redis is used to keep track of garmin backfill progress and any other key value properties.
  url: "redis://localhost:6379"
