apiVersion: v2
appVersion: 11.2.2-security-01
description: A Helm chart for Grafana dashboard used by RADAR-base
name: radar-grafana
version: 0.1.4
home: https://radar-base.org
icon: http://radar-base.org/wp-content/uploads/2022/09/Logo_RADAR-Base-RGB.png
sources:
- https://github.com/RADAR-base/radar-helm-charts/tree/main/charts/radar-grafana
type: application
maintainers:
  - email: pim@thehyve.nl
    name: Pim van Nierop
    url: https://www.thehyve.nl/experts/pim-van-nierop
dependencies:
- name: grafana
  version: 8.11.3
  repository: file://../../external/grafana
- name: common
  repository: https://radar-base.github.io/radar-helm-charts
  tags:
  - bitnami-common
  version: 2.x.x
