{{ define "radar.grafana" -}}
## Grafana

This chart deploys [Grafana](https://grafana.com/) via a dependency to this chart. Configuration to the Grafana chart is passed via the `grafana:` key in the
values.yaml file. Consult the [documentation](https://artifacthub.io/packages/helm/grafana/grafana) of the Grafana chart
for additional information on how to configure this service if needed.
{{- end }}
