apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "radar-oura-connector.fullname" . }}-properties
  labels:
{{ include "radar-fitbit-connector.labels" . | indent 4 }}
data:
  source-oura.properties: |
    name=radar-oura-source
    connector.class=org.radarbase.connect.rest.oura.OuraSourceConnector
    tasks.max={{ .Values.connector_num_tasks }}
    rest.source.base.url=https://api.ouraring.com
    rest.source.poll.interval.ms=5000
    oura.api.client={{ .Values.oura_api_client }}
    oura.api.secret={{ .Values.oura_api_secret }}
    oura.api.intraday={{ .Values.includeIntradayData }}
    oura.user.repository.class=org.radarbase.connect.rest.oura.user.OuraServiceUserRepository
    oura.user.repository.url={{ .Values.radar_rest_sources_backend_url }}
    oura.user.repository.client.id={{ .Values.oauthClientId }}
    oura.user.repository.client.secret={{ .Values.oauthClientSecret }}
    oura.user.repository.oauth2.token.url={{ .Values.managementportal_url }}/oauth/token
  {{- if and .Values.kafka_wait.enabled .Values.kafka_wait.properties }}
  kafka-wait.properties: |
    {{ .Values.kafka_wait.properties | indent 4 }}
  {{- end }}
