apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "radar-self-enrolment-ui.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        {{- include "radar-self-enrolment-ui.labels" . | nindent 8 }}
        {{- with .Values.deployment.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- with .Values.deployment.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- include "radar-self-enrolment-ui.imagePullSecrets" . | nindent 6 }}
      automountServiceAccountToken: {{ .Values.deployment.automountServiceAccountToken }}
      {{- with .Values.deployment.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 6 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.deployment.terminationGracePeriodSeconds }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "radar-self-enrolment-ui.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          env:
          - name: KRATOS_INTERNAL_URL
            value: {{ .Values.kratosPublicUrl | quote }}
          - name: KRATOS_ADMIN_URL
            value: {{ .Values.kratosAdminUrl | quote }}
          - name: HYDRA_ADMIN_URL
            value: {{ .Values.hydraAdminUrl | quote }}
          - name: HYDRA_PUBLIC_URL
            value: {{ .Values.hydraPublicUrl | quote }}
          - name: RSA_BACKEND_URL
            value: {{ .Values.restSourceBackendUrl | quote }}
          - name: BASE_PATH
            value: /{{ .Values.basePath | quote }}
          - name: SECURITY_MODE
            value: {{ .Values.securityMode | quote }}
          - name: ARMT_CLIENT_ID
            value: {{ .Values.armtClientId | quote }}
          - name: ARMT_CLIENT_SECRET
            value: {{ .Values.armtClientSecret | quote }}
          - name: SEP_CLIENT_ID
            value: {{ .Values.sepClientId | quote }}
          - name: SEP_CLIENT_SECRET
            value: {{ .Values.sepClientSecret | quote }}
          - name: NEXT_PUBLIC_ARMT_REDIRECT_URI
            value: {{ .Values.advertised_protocol }}://{{ .Values.server_name }}/{{ .Values.basePath }}/connect/armt
          - name: NEXT_PUBLIC_SEP_REDIRECT_URI
            value: {{ .Values.advertised_protocol }}://{{ .Values.server_name }}/{{ .Values.basePath }}/connect/sep
          - name: GITHUB_AUTH_TOKEN
            value: {{ .Values.githubAuthToken | quote }}
          - name: GATEWAY_URL
            value: {{ .Values.gatewayUrl | quote }}
          - name: COOKIE_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ include "radar-self-enrolment-ui.secretname" . }}
                key: secretsCookie
          - name: CSRF_COOKIE_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ include "radar-self-enrolment-ui.secretname" . }}
                key: secretsCSRFCookie
          - name: CSRF_COOKIE_NAME
            value: {{ .Values.config.csrfCookieName | quote }}
          {{- if .Values.deployment.extraEnv }}
            {{- toYaml .Values.deployment.extraEnv | nindent 10 }}
          {{- end }}
          {{- with .Values.deployment.extraVolumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          {{- if .Values.customLivenessProbe }}
          livenessProbe: {{- .Values.customLivenessProbe | toYaml | nindent 12 }}
          {{- else if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.basePath }}/health/alive
              port: http
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.customReadinessProbe }}
          readinessProbe: {{- .Values.customReadinessProbe | toYaml | nindent 12 }}
          {{- else if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.basePath }}/health/ready
              port: http
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
          {{- end }}
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.deployment.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.deployment.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
