# -- Values for creating the database user secretsl
secret:
  # -- Switch to false to prevent creating user secrets.
  enabled: true
  nameOverride: ""
  # -- Annotations to be added to secret. Annotations are added only when secret is being created. Existing secret will not be modified.
  secretAnnotations:
    # Create the secret before installation, and only then. This saves the secret from regenerating during an upgrade
    # pre-upgrade is needed to upgrade from 0.7.0 to newer. Can be deleted afterwards.
    helm.sh/hook-weight: "0"
    helm.sh/hook: pre-install, pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/resource-policy: keep
  # -- Random database password secrets will be created for these users.
  # @default -- check values.yaml
  users:
  - user: managementportal
    dbname: managementportal
  - user: restsourceauthorizer
    dbname: restsourceauthorizer
  - user: appconfig
    dbname: appconfig
  - user: kratos
    dbname: kratos
  - user: hydra
    dbname: hydra
  - user: appserver
    dbname: appserver
  - user: uploadconnector
    dbname: uploadconnector

# -- CloudNativePG configuration
# @default -- check `values.yaml`
cluster:

  type: postgresql
  version:
    postgresql: "16"

  mode: standalone

  # To import from existing on-cluster database, set 'mode' to 'recovery'.
  recovery:
    method: import
    import:
      type: monolith
      databases:
        - managementportal
        - appconfig
        - kratos
        - hydra
        - restsourceauthorizer
      source:
        host: postgresql
        username: postgres
        database: postgres
        sslMode: prefer
        passwordSecret:
          create: false
          name: postgresql
          key: postgres-password

  cluster:
    instances: 1

    imagePullPolicy: Always

    storage:
      size: 10Gi

    monitoring:
      enabled: true

    # To use initdb, set 'mode' to 'standalone'
    initdb:
      database: managementportal
      owner: managementportal
      secret:
        name: radar-cloudnative-postgresql-managementportal
      postInitSQL:
        - CREATE USER restsourceauthorizer
        - CREATE USER appconfig
        - CREATE USER kratos
        - CREATE USER hydra
        - CREATE USER appserver
        - CREATE USER uploadconnector
        - CREATE DATABASE restsourceauthorizer OWNER restsourceauthorizer
        - CREATE DATABASE appconfig OWNER appconfig
        - CREATE DATABASE kratos OWNER kratos
        - CREATE DATABASE hydra OWNER hydra
        - CREATE DATABASE appserver OWNER appserver
        - CREATE DATABASE uploadconnector OWNER uploadconnector

    # These users will be imported from the generated secrets (see: '.users')
    roles:
      - name: managementportal
        ensure: present
        comment: User for the managementportal database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-managementportal
      - name: restsourceauthorizer
        ensure: present
        comment: User for the restsourceauthorizer database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-restsourceauthorizer
      - name: appconfig
        ensure: present
        comment: User for the appconfig database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-appconfig
      - name: kratos
        ensure: present
        comment: User for the kratos database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-kratos
      - name: hydra
        ensure: present
        comment: User for the hydra database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-hydra
      - name: appserver
        ensure: present
        comment: User for the appserver database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-appserver
      - name: uploadconnector
        ensure: present
        comment: User for the uploadconnector database
        login: true
        superuser: false
        passwordSecret:
          name: radar-cloudnative-postgresql-uploadconnector

  backups:
    enabled: true

    endpointURL: http://minio:9000

    provider: s3
    s3:
      region: ""
      bucket: "cloudnative-postgresql"
      path: "/"
    wal:
      compression: ''
      encryption: ''
    data:
      compression: ''
      encryption: ''

    scheduledBackups:
      -
        name: daily-backup
        schedule: "0 0 0 * * *"

    retentionPolicy: "7d"
