{{/*use 3 as max replication factor; use 1 when in dev mode*/}}
{{- $topicReplicationFactor := min 3 (ternary 1 .Values.kafka.replicas .Values.dev_deployment) }}
{{/*when in dev mode only 1 in-sync replica is needed*/}}
{{- $insyncReplicas := ternary 1 .Values.kafka.insyncReplicas .Values.dev_deployment -}}
{{- $topicPartitions := ternary 1 .Values.kafka.partitions .Values.dev_deployment }}
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  annotations:
    strimzi.io/node-pools: enabled
    strimzi.io/kraft: enabled
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
spec:
  kafka:
    version: {{ .Chart.AppVersion }}
    metadataVersion: {{ .Values.kafka.metadataVersion }}
    authorization:
      type: simple
    config:
      offsets.topic.replication.factor: {{ $topicReplicationFactor }}
      transaction.state.log.replication.factor: {{ $topicReplicationFactor }}
      transaction.state.log.min.isr: {{ $insyncReplicas }}
      default.replication.factor: {{ $topicReplicationFactor }}
      min.insync.replicas: {{ $insyncReplicas }}
      num.partitions: {{ $topicPartitions }}
    {{- if .Values.kafka.jvmOptions }}
    jvmOptions: {{ .Values.kafka.jvmOptions | toYaml | nindent 6 }}
    {{- end }}
    {{- if .Values.kafka.resources }}
    resources: {{ .Values.kafka.resources | toYaml | nindent 6 }}
    {{- end }}
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
        authentication:
          type: tls
      - name: scram
        port: 9094
        type: internal
        tls: false
        authentication:
          type: scram-sha-512
  {{- if or .Values.kafka.securityContext .Values.kafka.podSecurityContext }}
    template:
      {{- with .Values.kafka.podSecurityContext }}
      pod:
        securityContext:
          {{- toYaml . | nindent 10 }}
      {{- end }}
      {{- with .Values.kafka.securityContext }}
        container:
            securityContext:
            {{- toYaml . | nindent 10 }}
        {{- end }}
  {{- end }}
  {{- if .Values.metrics.enabled }}
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          name: {{ template "common.names.fullname" . }}-kafka-metrics
          key: kafka-metrics-config.yml
  {{- end }}
  {{- if .Values.kafka.cruiseControl.enabled }}
  cruiseControl:
    autoRebalance:
      - mode: add-brokers
        template:
          name: {{ template "common.names.fullname" . }}-rebalance-template
      - mode: remove-brokers
        template:
          name: {{ template "common.names.fullname" . }}-rebalance-template
    {{- if .Values.kafka.cruiseControl.javaOptions }}
    javaOptions:
      {{- toYaml .Values.kafka.cruiseControl.javaOptions | nindent 6 }}
    {{- end }}
    {{- if .Values.kafka.cruiseControl.resources }}
    resources:
      {{ toYaml .Values.kafka.cruiseControl.resources | nindent 6 }}
    {{- end }}
  {{- end }}
  {{ if .Values.metrics.enabled }}
  kafkaExporter:
    {{- toYaml .Values.metrics.kafkaExporter | nindent 4 }}
  {{- end }}
  entityOperator:
    topicOperator:
      {{- if .Values.kafka.topicOperator.jvmOptions }}
      jvmOptions: {{ .Values.kafka.topicOperator.jvmOptions | toYaml | nindent 8 }}
      {{- else }}
      {}
      {{- end }}
      {{- with .Values.kafka.topicOperator.resources }}
      resources: {{ . | toYaml | nindent 8 }}
      {{- end }}
    userOperator:
      {{- if .Values.kafka.userOperator.jvmOptions }}
      jvmOptions: {{ .Values.kafka.userOperator.jvmOptions | toYaml | nindent 8 }}
      {{- else }}
      {}
      {{- end }}
      {{- with .Values.kafka.userOperator.resources }}
      resources: {{ . | toYaml | nindent 8 }}
      {{- end }}
