{{/*
Create a ConfigMap containing a single file `nifi.properties` built from
the map in `.Values.nifi-properties`. Each map entry becomes a
`key=value` line in the properties file.
*/}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ index .Values "nifi-cluster" "cluster" "nifiProperties" "overrideConfigMap" "name" }}
  labels:
{{- if (hasKey . "Chart") }}
    {{- include "common.labels.standard" . | nindent 4 }}
{{- else }}
    app: {{ include "common.names.fullname" . }}-nifi-properties
{{- end }}
data:
  nifi.properties: |-
{{- if index .Values "nifi-properties" }}
{{- range $key, $value := index .Values "nifi-properties" }}
{{ printf "%s=%s" $key $value | indent 4 }}
{{- end }}
{{- else }}
{{- "" | indent 4 }}
{{- end }}
