{{/*See: https://orange-opensource.github.io/nifikop/docs/3_tasks/2_security/2_authentication/1_oidc*/}}
{{- $secretName := include "common.secrets.name" (dict "existingSecret" .Values.existingSecret "defaultNameSuffix" "properties" "context" $) }}
{{- $secretPropsKey := include "radar-nifi.secret.value" (dict "secret" $secretName "key" "password" "context" $) | default (randAlphaNum 65) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "common.labels.standard" . | indent 4 | trim }}
data:
  nifi.properties: |-
    nifi.web.proxy.context.path=/nifi
    nifi.sensitive.props.key={{ $secretPropsKey }}
    nifi.web.http.network.interface.default=eth0
    nifi.web.http.network.interface.lo=lo
    nifi.nar.library.autoload.directory=../extensions
    {{ if .Values.auth.oidc.enabled }}
    {{ $clientId := include "cbio-nifi.secret.value" (dict "secret" .Values.auth.oidc.clientIdSecret.name "key" .Values.auth.oidc.clientIdSecret.key "context" $) }}
    {{ $clientSecret := include "cbio-nifi.secret.value" (dict "secret" .Values.auth.oidc.clientSecretSecret.name "key" .Values.auth.oidc.clientSecretSecret.key "context" $) }}
    nifi.security.user.oidc.discovery.url={{ .Values.auth.oidc.wellKnownConfigUrl }}
    nifi.security.user.login.identity.provider=
    nifi.security.user.authorizer=managed-authorizer
    nifi.security.user.oidc.claims.identifying.user=email
    nifi.security.user.oidc.claims.additional.scopes={{ .Values.auth.oidc.scopes }}
    nifi.security.user.oidc.client.id={{ $clientId }}
    nifi.security.user.oidc.client.secret={{ $clientSecret }}
    nifi.security.identity.mapping.pattern.dn=CN=([^,]*)(?:, (?:O|OU)=.*)?
    nifi.security.identity.mapping.value.dn=$1
    nifi.security.identity.mapping.transform.dn=NONE
    {{ end }}
