apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-properties
  namespace: default
  labels:
    {{- include "radar-nifi.labels" . | nindent 4 }}
data:
  nifi.properties: |
{{ .Files.Get "configs/nifi.properties" | indent 4 }}
