{{- $secretName := printf "%s-secret-properties" (include "common.names.fullname" .) }}
{{- $secretKey := include "radar-nifi.secret.value" (dict "secret" $secretName "key" "sensitive.props.key" "context" .) | default (randAlphaNum 65) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels: {{ include "common.labels.standard" . | nindent 4 }}
type: Opaque
data:
  sensitive.props.key: {{ $secretKey | b64enc | quote }}
stringData:
  nifi-secret.properties: |
    nifi.sensitive.props.key={{ $secretKey }}
{{- if index .Values "nifi-secret-properties" }}
{{- range $key, $value := index .Values "nifi-secret-properties" }}
{{ printf "%s=%s" $key $value | indent 4 }}
{{- end }}
{{- else }}
{{- "" | indent 4 }}
{{- end }}
