{{- $restSourceClients := trim (include "radar-rest-sources-backend.enabledMapElementsAsList" .Values.restSourceClients) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "radar-rest-sources-backend.fullname" . }}
  labels:
    app: {{ template "radar-rest-sources-backend.name" . }}
    chart: {{ template "radar-rest-sources-backend.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  authorizer.yml: |
    service:
      # Interval time in minutes for syncing projects and subjects.
      baseUri: http://0.0.0.0:8080/rest-sources/backend/
      advertisedBaseUri: https://{{ .Values.serverName }}/rest-sources/backend/
      enableCors: true
      syncParticipantsIntervalMin: 2
      {{- if .Values.authorizer -}}
      {{ .Values.authorizer | toYaml | nindent 6 }}
      {{- end }}

    auth:
      # Management Portal URL
      managementPortalUrl: {{ .Values.managementportal_url }}
      # OAuth2 Client id of rest sources authorizer backend
      clientId: radar_rest_sources_auth_backend
      # OAuth2 Client Secret of rest sources authorizer backend client
      clientSecret: {{ .Values.client_secret }}

    database:
      driver: org.postgresql.Driver
      url: jdbc:postgresql://{{ .Values.postgres.host }}:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}{{ .Values.postgres.connection_parameters }}
      user: {{ .Values.postgres.user }}
      password: {{ .Values.postgres.password }}
      dialect: org.hibernate.dialect.PostgreSQLDialect

    restSourceClients:
    {{- if $restSourceClients }}
      {{- $restSourceClients | nindent 6 }}
    {{- else }} []
    {{- end }}

    {{- if .Values.redis.uri }}
    redis:
        uri: {{ .Values.redis.uri }}
    {{- end }}
