{{- $restSourceClients := trim (include "radar-rest-sources-backend.enabledMapElementsAsList" .Values.restSourceClients) -}}
{{ $https := ternary "http" "https" (or .Values.disable_tls (not .Values.ingress.tls)) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "radar-rest-sources-backend.fullname" . }}
  labels:
{{ include "radar-rest-sources-backend.labels" . | indent 4 }}
data:
  authorizer.yml: |
    service:
      # Interval time in minutes for syncing projects and subjects.
      baseUri: http://0.0.0.0:8080/rest-sources/backend/
      advertisedBaseUri: {{ printf "%s://%s/rest-sources/backend" $https .Values.serverName }}
      enableCors: true
      syncParticipantsIntervalMin: 2
      {{- if .Values.authorizer -}}
      {{ .Values.authorizer | toYaml | nindent 6 }}
      {{- end }}

    auth:
      # Management Portal URL
      managementPortalUrl: {{ .Values.managementportal_url }}
      # OAuth2 Auth URL for MP Client
      authUrl: {{ .Values.auth_url }}
      # OAuth2 Client id of rest sources authorizer backend
      clientId: radar_rest_sources_auth_backend
      # OAuth2 Client Secret of rest sources authorizer backend client
      clientSecret: {{ .Values.client_secret }}
      # List of public key endpoints for token verification
      jwksUrls:
        {{- range .Values.public_key_endpoints }}
        - {{ . | quote }}
        {{ end -}}

    database:
      driver: org.postgresql.Driver
      url: jdbc:postgresql://{{ .Values.postgres.host }}:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}{{ .Values.postgres.connection_parameters }}
      user: {{ .Values.postgres.user }}
      password: {{ .Values.postgres.password }}
      dialect: org.hibernate.dialect.PostgreSQLDialect

    restSourceClients:
    {{- if $restSourceClients }}
      {{- $restSourceClients | nindent 6 }}
    {{- else }} []
    {{- end }}

    {{- if .Values.redis.uri }}
    redis:
        uri: {{ .Values.redis.uri }}
    {{- end }}
