{{ define "ory.hydra" -}}
## ORY Hydra

This chart deploys [ORY Hydra](https://www.ory.sh/hydra/) via a dependency to this chart. Configuration to the ORY Hydra chart is passed via the `hydra:` key in the values.yaml file.
Consult the [documentation](https://artifacthub.io/packages/helm/ory/hydra) of the Ory Hydra chart for additional information on how to configure this service if needed.
{{- end }}
