{{ define "ory.hydra" -}}
## Ory Hydra

This chart deploys Ory Hydra that via a dependency to this chart. Configuration to the Ory Hydra chart is passed via the `hydra:` key in the values.yaml file.
Consult the [documentation](https://artifacthub.io/packages/helm/ory/hydra) of the Ory Hydra chart for more information on how to configure this service.
{{- end }}
